{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}
            OLX
        {% endblock title %}
    </title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo"> 
                <a href="{% url 'home' %}"><img src="{% static 'images/png/icon.png' %}" alt=""></a>
                <span class="user">
                    {% if request.user.is_authenticated %}
                        Hello, {{ request.user.first_name|default:request.user.username }}
                        <div class="user1">
                            <a href="{% url 'logout' %}">Log out</a>
                        </div>
                    {% else %}
                        <div class="user1">
                            <a href="{% url 'login' %}">Log in</a>
                        </div>
                    {% endif %}
                </span>
            </div>
        </div>
    </header>
    {% block content %}
    <div class="page">
        <p class="category">
            Категории
        </p>
        <!-- Navigation bar -->
        {% include 'includes/navbar.html' %}
        <!-- End of nav bar -->
    </div>
    {% endblock %}
    <footer>
        <p class="footer-text">&copy;Все права защищены ООО 2023 OLX.</p>

    </footer>
</body>
</html>

