@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #f2f4f5;
    font-size: 80%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15em;
    margin: 0px 0px 0px 0px;
}

header {
    background-color: #333;
    padding: 15px;
}

.page {
    margin: 0px auto 0px auto;
}

.logo img{
    margin-left: 60px;
    padding-top: 10px;
    width: 71px;
    height: 41px;
}



.category {
    color: white ;
    width: 500px;
    margin-left: 490px;
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    text-transform: uppercase;
    padding: 10px;
    background-color: #308cd7;
    border-radius: 20px;
}

.category {
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 60px;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(60, 129, 208);
    border-radius: 20px;
}

ul {
    width: auto;
    padding: 50px;
    margin: 0px auto 0px auto;
    margin-top: 40px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
}

li {
    display: inline;
    margin: 0px 50px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 217px;
}

a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

a:hover  {
    color: #308cd7;
}

p {
    text-align: center;
    font-size: 40px;
}

.electronics-products{
    margin-top: 50px;
    margin-bottom: -150px;
}

.transport-products{
    margin-top: 50px;
    margin-bottom: -20px;
}

.product {
    background-color: white;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    text-align: center;
}

.product img{
    width: 290px;
    height: 290px;
}

.footer-text {
    text-align: center;
    font-size: 12px;
}

.transport-products{
    margin-top: 50px;
    margin-bottom: -30px;
}

.product1 {
    background-color: white;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto 20px auto;
    text-align:center;
}

.product1 img{
    width: 500px;
    height: 500px;
    padding-right: 700px;
}

.description {
    font-size: 21px;
    padding: 10px;
    max-width: 400px;
    padding-left: 700px;
    position: relative;
    bottom: 500px;
    text-align: right;
}

.price {
    margin-top: -350px;
    border-radius: 5px;
    text-align: center;
}


.error {
    text-align: center;
    font-size: 100px;
}

.desc {
    font-size: 36px;
}

.content {
    padding-left: 90px;
}

.des {
    text-align: left;
    font-size: 20px;
}

.login {
    font-size: 40px;
}

form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
    font-size: 25px;
}

input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#efefef;
    border:0;
    padding:6px 10px;
    font-size:14px;
}

input[type=submit], a.button {
    font-weight:bold;
    background:#333;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}

.errorlist {
    font-size: 20px;
    color:#ff0000;
    background: none;
    text-align: left;
    padding: 0%;
    margin: 0%;
}


.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}

.content1 {
    font-size: 60px;
    text-align: center;
    padding-top: 134px;
}

.login1 {
    text-align: center;
    padding-top: 30px;
}

.ww {
    text-align: left;
    font-size: 30px;
}

.logout-desc {
    padding-top: 68px;
}

.user {
    color: white;
    text-align: center;
    margin-left: 1150px;
    font-size: 15px;
    margin-bottom: 20px;
}

.user1 a{
    color: white;
    text-align: center;
}

.user1 a:hover{
    color:#308cd7
}

.logo, .user {
    display: inline-block;
}

.password-change {
    text-align: left;
}


.content3 {
    text-align: center;
    padding-top: 150px;
}

.password-change1 {
    text-align: center;
    margin-top: 91px;
}



.fyp {
    font-size: 17px;
    text-align: left;
}