{% extends 'base.html' %}
{% load static %}

{% block title %}
    Electronics
{% endblock title %}

{% block content %}


<p>
    Электроника
</p>

    {% for product in products %}
        <div class="transport-products">
            <div class="product">
                <h1>{{ product.title }}</h1>
                <a href="{% url 'sale_detail' product.pk %}">
                    <img src="{{ product.image.url }}" alt="">
                </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}